
# Import Python libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Import Datasets

In [2]:
train_data = pd.read_csv(r"Training Data.csv")
test_data = pd.read_csv(r"Test Data.csv")

# Check how train dataset looks like.

In [3]:
train_data.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303835,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

# Convert datatype of selected fields.

In [4]:
train_data["profession"]=pd.factorize(train_data.profession)[0]
train_data["city"]=pd.factorize(train_data.city)[0]
train_data["state"]=pd.factorize(train_data.state)[0]
train_data["married"]=pd.factorize(train_data.married)[0]
train_data["house_ownership"]=pd.factorize(train_data.house_ownership)[0]
train_data["car_ownership"]=pd.factorize(train_data.car_ownership)[0]

In [5]:
test_data["profession"]=pd.factorize(test_data.profession)[0]
test_data["city"]=pd.factorize(test_data.city)[0]
test_data["state"]=pd.factorize(test_data.state)[0]
test_data["married"]=pd.factorize(test_data.married)[0]
test_data["house_ownership"]=pd.factorize(test_data.house_ownership)[0]
test_data["car_ownership"]=pd.factorize(test_data.car_ownership)[0]

# Drop the dependent variable from the train/test dataset.

In [6]:
xtrain=train_data.drop("risk_flag",axis=1)
ytrain=train_data["risk_flag"]
# xtest=test_data.drop("risk_flag",axis=1)
# ytest=test_data["risk_flag"]

In [7]:
xtrain, xtest, ytrain, ytest = train_test_split(xtrain, ytrain, random_state = 10, test_size = 0.4)

# Drop unnamed field from train and test dataset.

In [9]:
# xtrain_Unnamed  = xtrain.pop("Unnamed: 0")
# xtest_Unnamed  = xtest.pop("Unnamed: 0")

In [10]:
xtrain.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years
169976,169977,4351817,31,3,1,0,0,18,285,9,3,11
59536,59537,7977722,69,19,1,0,0,6,105,5,14,12
213469,213470,2467568,48,5,0,0,0,26,134,10,5,11
13260,13261,4389022,71,18,0,0,0,30,210,8,12,12
108064,108065,826681,78,4,1,0,1,38,23,9,4,14

# Train your model

In [11]:
from sklearn.tree import DecisionTreeClassifier
DTClassifier= DecisionTreeClassifier(criterion='entropy', random_state=0)
DTClassifier.fit(xtrain,ytrain)

DecisionTreeClassifier(criterion='entropy', random_state=0)

# Test your model

In [12]:
y_pred= DTClassifier.predict(xtest)

In [13]:
y_pred

array([0, 0, 0, ..., 0, 1, 0])

# Check your roc_auc_score

In [14]:
from sklearn.metrics import roc_auc_score
auc = roc_auc_score(ytest, y_pred)
print('ROC AUC: %f' % auc)

ROC AUC: 0.656821

In [15]:
classification_report(ytest, y_pred)

NameError: name 'classification_report' is not defined